body {
  color: black;
  text-decoration: none;
  text-align: left;
}
#content {
  color: yellow;
  text-decoration: dotted;
}
.content {
  color: green;
  text-decoration: double;
}
#cours {
  text-align: center;
}
.cours {
  text-align: justify;
}
#gti525 {
  text-align: end;
}
.gti525 {
  text-align: right;
}
liste {
  text-decoration: solid;
}
#main {
  color: red;
}
.main {
  color: blue;
}
